.footer {
    padding-top: 20px;
    /* padding-bottom: 50px; */
    background-color: #000;

  }

.discord__btn_foo{
  width: 250px;
  text-align: center;
  color:#000;
  justify-content: center;
  margin: auto;
  border-radius: 50px;
  padding:15px;
  margin-top: 20px;
  background-color: #fff;
  cursor: pointer;
}
.discord__btn_foo:hover {
  border: 1px solid #fff;
  background-color: #000;
}

.social__menu{

    display: flex;
    margin-top: 30px!important;
    padding: 10px;
    text-align: center;
    justify-content: center;
    overflow: hidden;

}

.menu__social__icons{

    
    cursor: pointer;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 5px;

}

.menu__social__icons a {
  width: 40px;
  height: 40px;
  fill: #fff;
  border:1px solid rgba(255, 255, 255, 0.3);;
  display: block;
  background-repeat: no-repeat;
  transition:all ease-out 0.4s;
}
.menu__social__icons a:hover {
  fill: #ff34fd;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  transition:all ease-out 0.3s;
}




