#home {
  min-height: 600px;
  padding-top: 300px;
}
#home .banner-right {
  text-align: right;
}
.home-banner {
  padding-top: 222px;
}
.home-banner-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 37.54px;
}
.home-image {
  max-width: 400px;
  max-height: 400px;
}
@media screen and (max-width: 600px) {
  #home {
    min-height: 500px;
    padding-top: 100px;
  }
  .home-banner {
    padding-top: 120px;
  }
  .home-banner-text {
    font-size: 16px;
    line-height: 25.02px;
  }
  #home .banner-right {
    text-align: center;
  }
  .home-image {
    max-width: 300px;
  }
}
